<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hi, this is Sourav. Welcome to <%= title %></p>
    <p>new PR 2</p>
  </body>
</html>
